.title-hr {
  color: grey;
  padding-top: 30px;
  border-bottom: solid grey 1px;
}

.content {
  border: 3px solid #A1A4FF;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 80px;
}
