<div class="container">
  <div class="title mt-5 mb-5 title-hr">
      <h1>Your bookings</h1>
  </div>
</div>

<div class="container">
  <% @my_offers.each do |my_offer| %>
    <%= @offers.find(my_offer.offer_id).title %>
    <%= my_offer.status %>
  <% end %>
</div>
