<div class="container">
  <div class="title mt-5 mb-5 title-hr">
      <h1>Your bookings</h1>
  </div>
</div>

<div class="container">
  <% @my_bookings.each do |my_booking| %>
    <%= @offers.find(my_booking.offer_id).title %>
    <%= my_booking.status %>
  <% end %>
</div>
