<div class="footer">
  <div class="footer-links">
    <a href="https://de.wikipedia.org/wiki/Madison_Ivy" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://de.wikipedia.org/wiki/Monique_Alexander" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://it.wikipedia.org/wiki/Rachel_Starr" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://en.wikipedia.org/wiki/Lisa_Ann" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://it.wikipedia.org/wiki/Rachel_Roxxx" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
