.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  padding-bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.40;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: #76b2fe;
}
.footer-links a:hover {
  opacity: 1;
  color: #b69efe;
  transition: 0.4s;
}
.footer .fa-heart {
  color: #b69efe;
}
